{% include "partials/header.njk" %}

<section style="min-height: 100vh; padding-top: 150px" data-scroll-section>
    <div class="container">
       {{ content | safe}}
    </div>
</section>

{% include "partials/footer.njk" %}