{% include "partials/header.njk" %}

<section class="pt-xlarge pb-large" data-scroll-section>
    <div class="container">
       {{ content | safe}}
    </div>
</section>

{% include "partials/footer.njk" %}