:root {
  --bs-gutter-x: 25px;
  --bs-gutter-y: 25px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f6faef;
    font-family: "Syne", sans-serif
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit
  }

  .grid {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    z-index: 1;
  }

  .grid-item {
    height: 100vh;
    border-left: 1px solid #2222;
  }

.w-100 {
  width: 100%
}