:root {
  --bs-gutter-x: 25px;
  --bs-gutter-y: 25px;
}

html {
  background-color: var(--color-light-1) 
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-text);
    font-family: var(--font-primary)
  }

  main {
    background-color: var(--color-light-1)
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit
  }

  ul, li {
    padding-left: 0;
    list-style: none
  }

.w-100 {
  width: 100%
}

.dot {
  color: var(--color-accent-1);
  font-weight: 500
}

.breacrumbs {
  font-size: 14px;
  font-weight: 200
}

@media(min-width:767px) {
  html {
    overflow-y: hidden
  }
}


.about-img-wrap {
  position: relative;
}

.about-img-wrap div:nth-child(2) {
  position: absolute;
  bottom: 16%;
  left: -20%;
  width: 63%;
  z-index: 1;
}


@media(min-width:767px) {
  .works-1 .works-grid div:nth-child(even) {
    margin-top: -6em;
    width: 33.3%
  }
}

.archive-post-link {
  font-size: 20px;
}

/*  Line
--------------------------------- */

.line-x {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--color-border)
}
.lx-1 {
  height: 1px
}
.lx-2 {
  height: 2px
}
.lx-op {
  opacity: .15
}