.transition-fade {
    transform: translateY(0);
    transition: 0.35s ease-in;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    transform: translateY(40px);
    opacity: 0;
  }
  
  html.is-rendering .transition-fade {
    transform: translateY(0);
    opacity: 0;
  }
  
  .swup-progress-bar {
    height: 3px;
    background-color: rgb(19, 19, 19);
  }
  