.transition-fade-down {
    transform: translateY(0);
    transition: 0.35s ease-in;
    opacity: 1
  }
  
  html.is-animating .transition-fade-down {
    transform: translateY(90px);
    opacity: 0
  }
  
  html.is-rendering .transition-fade-down {
    transform: translateY(0);
    opacity: 0
  }

  .transition-fade-out {
    transform: translateY(0);
    transition: 0.3s ease-in;
    opacity: 1
  }

  html.is-animating .transition-fade-out {
    transform: translateY(-70px);
    opacity: 1
  }


  .swup-progress-bar {
    height: 2px;
    background-color: var(--color-dark-1)
  }
  