  
  .svg-circle {
    max-width: 80vmin;
    fill: transparent;
    stroke: var(--color-heading);
  }
  .svg-circle:hover .textcircle {
    transform: scale(1.2) rotate(90deg);
  }
  
  .svg-circle .textcircle {
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
    transform-origin: 250px 250px;
  }
  
  .svg-circle .textcircle text {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    font-variant-ligatures: none;
    letter-spacing: 6px;
    color: var(--color-heading);
    animation: rotate 25s linear infinite;
    transform-origin: 250px 250px;
    opacity: .3;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }