.site-footer {
    background: #080d10;
    background-size: cover;
    background-position: center;
}

.footer-top {
    padding: 140px 0 110px
}

.footer-top p {
    color: #fff
}

.footer-list li {
    list-style: none;
    padding-left: 0;
    margin-bottom: .8em;
    font-size: 15px;
    font-weight: 200;
    color: rgb(199, 199, 199);
}

@media(min-width:767px) {
    .footer-list li {
        font-size: 20px
    }
}

