.site-footer {
    background: #080d10;
    background-size: cover;
    background-position: center;
}

.site-footer p,
.site-footer a {
    color: #fff
}

.footer-top {
    padding: 210px 0 20px
}

.footer-bottom {
    padding: 0 0 30px;
}


@media(min-width:767px) {
    .footer-list li {
        font-size: 20px
    }
}

