
.site-header {
  position: fixed;
  left: 0;
  top: 2em;
  width: 100%;
  z-index: 999
}

.logo-wrap svg {
  width: 100%;
  height: auto;
}

.menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger path {
  fill: none;
  stroke: #111;
  stroke-linecap: round;
}

.fullpage-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 99
}
.fullpage-menu-inner {
  display: flex;
  align-items: center;
  height: 100%
}
.menu-bg {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99
}
.menu-bg span {
  width: 33.3%;
  height: 100%;
  background: #161616;
  display: block;
}

.main-menu {
  position: relative;
  z-index: 999;
}

.main-menu ul {
  padding-left: 0;
  list-style-type: none;
}
.main-menu li{
  margin-bottom: 1em;
  width: max-content;
  overflow: hidden;
  transition: transform 300ms ease-in-out 0s;
}
.main-menu li + li{
  margin-top: 20px;
}
.main-menu li a {
  font-size: 65px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  display: inline-block;
  line-height: 1;
}
.main-menu li:hover{
  transform: translateX(50px);
}
.header-nav-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  z-index: 999
}
.social-links{
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  width: 100%;
}
.social-links li{
  font-size: 18px;
  font-weight: 500;
  color: #fff
}
.social-links li + li{
  margin-left: 16px;
}
.social-links li:last-child{
  margin-left: auto;
}
.social-links a{
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width:767px) {
  .header-row, .header-nav-footer{
      padding: 30px;
  }
  .fullpage-menu-inner{
      padding: 70px 30px;
  }
  .site-header nav li a{
      font-size: 50px;
  }
  .social-links li{
      font-size: 16px;
  }
}