
.logo-hero rect {
  fill: var(--color-dark-1)
}

.border-right {
    position: relative;
  }
  
  .border-right::before {
    position: absolute;
    content: "";
    right: -4em;
    width: 2px;
    height: 100%;
    background: var(--color-border);
  }
  
  
  .hero-parallax  {
    height: 45vh;
    padding-top: .5em;
    padding-bottom: .5em;
    background: #0d1820;
    overflow: hidden;
  }
  
  .hero-parallax-content {
    transform: rotate(45deg) translateX(-30%) translateY(-32%);
  }
  
  .parallax-item {
    margin-bottom: 1em
  }

  .parallax-item img {
    width: 150%
  }
  
  .hero-intro-footer {
    padding-bottom: 4.8em;
  }
  
  .logo-hero {
    margin-top: 8px;
    width: 100%;
  }

  @media(min-width:767px) {
    .hero-parallax  {
      height: 85vh
    }
    .parallax-item {
      margin-bottom: 2.5em
    }
      .parallax-item img {
        width: 110%
      }
      .hero-intro-footer {
        padding-top: 4em
      }
  }