
  .parallax-wrap {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    padding-bottom: calc(100% / (var(--ratio))); 
  }

  .aspect_16-12 {
    --ratio: 1380/1205;
  }

  .aspect_16-9 {
    --ratio: 1380/868;
  }

  .aspect_16-5 {
    --ratio: 1380/468;
  }
  
  .parallax-wrap img {
    position: absolute;
    top: -7%;
    left: -7%;
    width: 114%;
    height: 114%;
    object-fit: cover
  }