</main>
<footer class="site-footer" data-scroll-section>
  <div class="footer-parallax">
    <div class="container">
      <div class="footer-top row">
        <div class="offset-md-1 col-md-8 pb-small">
          <p class="xl mt-3">
            Porozmawiajmy o Twojej <br class="d-none d-md-block"/>nowej stronie
            <svg width="36" height="36" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M13 1L1 13" stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M3 1H13V11" stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>  
          </p>
        </div>
      </div>
      <div class="footer-bottom row">
        <div class="offset-md-1 col-md-8">
          <p class="mb-3">Napisz na</p>
          <a href="mailto:kontakt@futurewebstudio.pl" class="footer-mail link link-white" title="Wyślij wiadomość">
            kontakt@futurewebstudio.pl
          </a>
          <p class="mt-4">
            Lub poprostu zadzwoń do mnie i porozmawiajmy
          </p>
        </div>
        <div class="col-md-3 d-flex align-items-end">
          <p>
            <a href="tel:+48788660190" title="Zadzwoń">+48 788 660 190</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
{% include 'partials/foot.njk' %}