<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }} - Eleventy Starter | Gsap | Locomotive | Swup</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
  <style>
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/syne-v15-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/syne-v15-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/syne-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/syne-v15-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/syne-v15-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/syne-v15-latin-ext_latin-regular.svg#Syne') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/syne-v15-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/syne-v15-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/syne-v15-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/syne-v15-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/syne-v15-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/syne-v15-latin-ext_latin-600.svg#Syne') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/syne-v15-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/syne-v15-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/syne-v15-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/syne-v15-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/syne-v15-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/syne-v15-latin-ext_latin-700.svg#Syne') format('svg'); /* Legacy iOS */
}
/* poppins-300 - latin-ext_latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/poppins-v20-latin-ext_latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/poppins-v20-latin-ext_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/poppins-v20-latin-ext_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/poppins-v20-latin-ext_latin-300.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/poppins-v20-latin-ext_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/poppins-v20-latin-ext_latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/poppins-v20-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/poppins-v20-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/poppins-v20-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/poppins-v20-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/poppins-v20-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/poppins-v20-latin-ext_latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
  </style>
</head>

<body class="page-{% if page.fileSlug %}{{ page.fileSlug }}{% else %}home{% endif %}">

  <div class="scrollContainer" id="pinSection">
    <div class="logo-wrap-inner"></div>
    <header class="site-header">
      <div class="container" data-scroll-sticky data-scroll-target="#pinSection">
        <div class="row gx-0"> 
          <div class="col-1">
            <div class="logo-wrap">
                  <a href="/" title="Logo">
                    <svg class="logo" width="568" height="273" viewBox="0 0 568 273" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_2675_2)">
                      <rect class="logo-line-1" x="92" y="-177" width="17" height="633" fill="black"/>
                      <rect class="logo-line-2" x="144" y="-177" width="12" height="633" fill="black"/>
                      <rect class="logo-line-3" x="116" y="-177" width="6" height="633" fill="black"/>
                      <rect class="logo-line-1" x="128" y="-177" width="9" height="633" fill="black"/>
                      <rect class="logo-line-2" width="8" height="632" transform="matrix(-1 0 0 1 196 -184)" fill="black"/>
                      <rect class="logo-line-3" width="7" height="632" transform="matrix(-1 0 0 1 167 -184)" fill="black"/>
                      <rect class="logo-line-1" x="-13" y="-182" width="17" height="633" fill="black"/>
                      <rect class="logo-line-2" x="35" y="-182" width="14" height="633" fill="black"/>
                      <rect class="logo-line-3" x="7" y="-182" width="8" height="633" fill="black"/>
                      <rect class="logo-line-1" x="21" y="-182" width="8" height="633" fill="black"/>
                      <rect class="logo-line-2" width="9" height="634" transform="matrix(-1 0 0 1 87 -189)" fill="black"/>
                      <rect class="logo-line-3" width="7" height="634" transform="matrix(-1 0 0 1 59 -189)" fill="black"/>
                      <rect class="logo-line-1" width="1" height="634" transform="matrix(-1 0 0 1 73 -189)" fill="black"/>
                      <rect class="logo-line-2" width="4" height="634" transform="matrix(-1 0 0 1 67 -189)" fill="black"/>
                      <rect class="logo-line-3" width="16" height="633" transform="matrix(-1 0 0 1 511 -177)" fill="black"/>
                      <rect class="logo-line-1" width="13" height="633" transform="matrix(-1 0 0 1 459 -177)" fill="black"/>
                      <rect class="logo-line-2" width="12" height="633" transform="matrix(-1 0 0 1 433 -181)" fill="black"/>
                      <rect class="logo-line-3" width="6" height="633" transform="matrix(-1 0 0 1 487 -177)" fill="black"/>
                      <rect class="logo-line-1" width="9" height="633" transform="matrix(-1 0 0 1 474 -177)" fill="black"/>
                      <rect class="logo-line-2" x="408" y="-184" width="8" height="632" fill="black"/>
                      <rect class="logo-line-3" x="436" y="-184" width="6" height="632" fill="black"/>
                      <rect class="logo-line-1" width="15" height="643" transform="matrix(-1 0 0 1 358 -182)" fill="black"/>
                      <rect class="logo-line-2" width="13" height="643" transform="matrix(-1 0 0 1 184 -186)" fill="black"/>
                      <rect class="logo-line-3" width="8" height="643" transform="matrix(-1 0 0 1 393 -182)" fill="black"/>
                      <rect class="logo-line-1" width="6" height="643" transform="matrix(-1 0 0 1 404 -182)" fill="black"/>
                      <rect class="logo-line-2" width="9" height="643" transform="matrix(-1 0 0 1 379 -182)" fill="black"/>
                      <rect class="logo-line-3" x="297" y="-189" width="10" height="645" fill="black"/>
                      <rect class="logo-line-1" x="331" y="-189" width="6" height="645" fill="black"/>
                      <rect class="logo-line-2" x="361" y="-189" width="6" height="645" fill="black"/>
                      <rect class="logo-line-3" x="311" y="-189" width="4" height="645" fill="black"/>
                      <rect class="logo-line-1" x="320" y="-189" width="5" height="645" fill="black"/>
                      <rect class="logo-line-2" width="14" height="632" transform="matrix(-1 0 0 1 255 -171)" fill="black"/>
                      <rect class="logo-line-3" width="6" height="632" transform="matrix(-1 0 0 1 281 -171)" fill="black"/>
                      <rect class="logo-line-1" width="7" height="632" transform="matrix(-1 0 0 1 292 -171)" fill="black"/>
                      <rect class="logo-line-2" width="9" height="632" transform="matrix(-1 0 0 1 269 -171)" fill="black"/>
                      <rect class="logo-line-3" x="201" y="-177" width="9" height="633" fill="black"/>
                      <rect class="logo-line-1" x="230" y="-177" width="7" height="633" fill="black"/>
                      <rect class="logo-line-2" x="215" y="-177" width="1" height="633" fill="black"/>
                      <rect class="logo-line-3" x="220" y="-177" width="5" height="633" fill="black"/>
                      <rect class="logo-line-1" width="12" height="633" transform="matrix(-1 0 0 1 569 -182)" fill="black"/>
                      <rect class="logo-line-2" x="518" y="-189" width="7" height="634" fill="black"/>
                      <rect class="logo-line-3" x="546" y="-189" width="6" height="634" fill="black"/>
                      <rect class="logo-line-1" x="530" y="-189" width="3" height="634" fill="black"/>
                      <rect class="logo-line-2" x="537" y="-189" width="4" height="634" fill="black"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_2675_2">
                      <rect width="568" height="273" fill="white"/>
                      </clipPath>
                      </defs>
                    </svg>              
                  </a>
            </div>
          </div>
          <div class="col-11 d-flex justify-content-end">
            <button class="menu-toggle" id="menuToggle">
              <svg viewBox="0 0 12 10" class="hamburger" height="40px" width="40px">
                <path d="M10,2 L2,2" class="bar-1"></path>
                <path d="M2,5 L10,5" class="bar-2"></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </header>
    <div id="swup" class="transition-fade">
    <main class="main">
      <section class="fullpage-menu">
        <div class="fullpage-menu-inner container" data-scroll-sticky data-scroll-target="#pinSection">
          <div class="menu-bg">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <div class="row w-100">
            <div class="offset-md-1 col-md-9">
              <nav class="main-menu">
                <ul class="main-menu-list">
                  <li><a href="/" title="Główna">Główna</a></li>
                  <li><a href="/realizacje/" title="Realizacje">Realizacje</a></li>
                  <li><a href="/blog/" title="Artyuły">Artykuły</a></li>
                  <li><a href="/kontakt/" title="Kontakt">Kontakt</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="header-nav-footer">
            <div class="container">
              <div class="row">
                <div class="offset-md-1 col-md-11">
                  <ul class="social-links">
                    <li><a href="#" title="Facebook">Facebook</a></li>
                    <li><a href="#" title="Github">Github</a></li>
                    <li><a href="#" title="Codepen">Codepen</a></li>
                    <li>&copy;{{ year }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>