---
layout: "layouts/base.njk"
title: Strona główna
---

<section style="height: 100vh; padding-top: 18vh" data-scroll-section>
  <div class="container">
    <div class="row gx-0">
      <div class="offset-md-1 col-md-4">
        <a href="/portfolio/">
          <h1 class="h1 link" data-splitting>Gsap starter</h1>
          <p class="fadeIn">
            Swup.js page transition, GSAP animation and Locomotive Scroll | Satrter | Eleventy.js Static Site Generator
          </p>
          <svg class="fadeIn" height="64" viewBox="0 0 64 64" width="64" xmlns="http://www.w3.org/2000/svg">
             <path d="m389.090909 48 30.909091 31-30.909091 31-5.454545-5.438596 21.636363-21.7543865h-47.272727v-7.614035h47.272727l-21.636363-21.754386z" fill="none" stroke="#231f20" transform="translate(-357 -47)"></path></svg>
        </a>
      </div>
      <div class="offset-md-2 col-md-4 d-none d-md-block">
        <div class="fadeIn">
          <img src="/assets/img/mobile.png" alt="" />
        </div>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</section>

<section style="height: 100vh" data-scroll-section></section>