---
layout: "layouts/base.njk"
title: Strona główna
description: Tworzenie estetycznych i funkcjonalnych stron internetowych
---

<section style="min-height: 100vh; padding-top: 150px" data-scroll-section>
  <div class="container">
    <div class="row gx-0">
      <div class="offset-md-1 col-md-5">
          <h1 class="xxl" data-splitting>Gsap <br />starter</h1>
          <p class="fadeIn">
            Swup.js page transition, GSAP animation platform and Locomotive Scroll | Eleventy.js Static Site Generator - Starter Site
          </p>
      </div>
      <div class="offset-md-1 col-md-4">
        <svg class="fadeIn svg-circle" xmlns="https://www.w3.org/2000/svg" xml:lang="pl" xmlns:xlink="https://www.w3.org/1999/xlink" viewBox="0 0 500 500">
          <defs>
            <path id="textcircle" d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z" transform="rotate(12,250,250)" />
          </defs>
          <g class="textcircle">
            <text textLength="942">
              <textPath 
                xlink:href="#textcircle" 
                aria-label="CSS & SVG are awesome" 
                textLength="942">
                GSAP &#8680; Locomotive &#8680; Scroll &#8680; Swup &#8680;
              </textPath>
            </text>
          </g>
        </svg>
      </div>
    </div>
    <div class="row" style="padding-top: 120px">
      <div class="offset-md-1 col-md-10">
        <div class="parallax-wrap aspect_16-9 fadeIn">
          <img src="/assets/img/responsive.jpg" class="single-post-image img-fluid" alt="Responsive websites" width="1920" height="1280">
      </div>
      </div>
    </div>
  </div>
</section>

<section style="height: 40vh" data-scroll-section></section>