---
layout: "layouts/base.njk"
title: Strona główna
description: Tworzenie estetycznych i funkcjonalnych stron internetowych
---

{% include 'sections/hero_1.njk' %}
{% include 'sections/about_1.njk' %}
{% include 'sections/recentworks_1.njk' %}