---
layout: "layouts/base.njk"
title: Portfolio
---

<section style="height: 100vh" data-scroll-section>

</section>

    <section style="height: 100vh" data-scroll-section>
        <div class="container">
            <a href="/">
                <h1 class="link splt">Eleventy starter</h1>
            </a>
            <div class="fadeIn">
                <img src="/assets/img/responsive.jpg" alt="">
            </div>
        </div>
    </section>