---
layout: "layouts/base.njk"
title: Portfolio
---

<section style="height: 100vh; padding-top: 140px; padding-bottom: 120px" data-scroll-section>
  <div class="container">
    <div class="row gx-0">
      <div class="offset-md-1 col-md-5">
        <a href="/">
          <h1 class="xl link" data-splitting>Prace</h1>
        </a>
      </div>
    </div>
    <div class="row gx-0" style="padding-top: 100px;">
      <div class="offset-md-1 col-md-5">
        <div class="fadeIn">
          <img src="/assets/img/egp-img.jpg" alt="" />
        </div>
      </div>
      <div class="offset-md-1 col-md-4">
        <div class="fadeIn">
          <img src="/assets/img/egp-img.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>