---
layout: "layouts/base.njk"
title: Kontakt
description: Tutaj znajdziesz dane kontaktowe
---

<section class="pt-xlarge pb-large" data-scroll-section>
  <div class="container">
    <div class="row gx-0 pb-medium">
      <div class="offset-md-1 col-md-10">
          <h1 class="xxl" data-splitting>
              {{ title }} <span class="dot">.</span>
          </h1>
          <div class="line-x lx-2"></div>
      </div>
    </div>
    <div class="row gx-0">
      <div class="offset-md-1 col-md-5">
        <div class="fadeIn">
            <div class="parallax-wrap aspect_16-9">
              <img src="/assets/img/egp-img.jpg">
            </div>
        </div>
      </div>
      <div class="offset-md-1 col-md-4">
        <div class="fadeIn">
          <div class="parallax-wrap aspect_16-9">
            <img src="/assets/img/egp-img.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 