<section class="pt-xsmall pb-medium pb-md-large" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="offset-md-1 col-md-4 d-flex flex-wrap align-items-center">
              <div class="">
                <h2 class="h1 mb-4 fadeIn">
                O mnie<span class="dot">.</span>
                </h2>
                <p class="fadeIn">
                  Jestem partnerem i doradcą biznesowym a nie kolejną agencją. Do każdego zlecenia podchodzę z dużym zaangażowaniem oraz z dbałością o każdy szczegół. 
                </p>
                <a href="/kontakt/" class="link-arrow fadeIn" title="Skontaktuj się">
                  Skontaktuj się
                  <svg width="10" height="10" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L1 13" stroke="var(--color-dark-1)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3 1H13V11" stroke="var(--color-dark-1)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>        
                </a>
              </div>
            </div>
            <div class="offset-md-2 col-md-4">
                <div class="about-img-wrap">
                    <div class="fadeIn">
                        <img src="/assets/img/responsive-2.jpg" alt="About image 1" loading="lazy" width="550" height="735" data-scroll data-scroll-speed="1" class="mt-5" />
                    </div>
                    <div class="fadeIn d-none d-md-block">
                        <img src="/assets/img/avatar.jpg" alt="About image 2" loading="lazy" width="347" height="380" data-scroll data-scroll-speed="-1" />
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>