<section class="pt-xlarge pb-xlarge bg-dark" data-scroll-section>
    <div class="container">

        <div class="row gx-0">
          <div class="offset-md-1 col-md-10">
            <div class="line-x lx-2"></div>
          </div>
        </div>

    </div>
  </section>