<section class="pt-large pt-md-large pb-xlarge bg-dark" id="faq" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
            <div class="offset-md-1 col-md-10">
                <h2 class="xl color-heading fadeIn">
                    Odpowiedzi<span class="dot">.</span>
                </h2>
                <div class="pt-small pb-small">
                    <div class="line-x lx-light"></div>
                </div>
            </div>
        </div>

        <div class="row gx-0 pt-md-small">
            <div class="offset-1 col-md-8">
                <div class="accordion-wrap">
                    <div class="item-21 mt-4 pb-xsmall fadeIn">
                        <div class="accordion">
                            <div class="h4 title color-heading">Ile kosztuje wykonanie strony www?</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                            <p class="color-text">
                                Koszt budowy jest bardzo zróżnicowany. Zależy od złożoności witryny, technologii jaka zostanie wykorzystana oraz
                                funkcjonalności jakie będzie posiadać. Podstawowa strona typu one page (oparta na jednej długiej podstronie) zawierająca
                                do 7 sekcji, slider, formularz kontaktowy, live chat oraz integracje z social media to koszt od 1500zł netto.
                            </p>
                        </div>
                    </div>
                    <div class="line-x lx-op lx-light"></div>
                    <div class="item-22 pt-small pb-xsmall fadeIn">
                        <div class="accordion">
                            <div class="h4 title color-heading">Co będę musiał/a przygotować?</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                             <p class="color-text">
                                Stworzenie strony internetowej nie wymaga od Ciebie dużego zaangażowania. Po dostarczeniu materiałów (treści i
                                ewentualnie grafik) zajmę się zaplanowaniem mapy strony, projektem graficznym i przystosowaniem treści pod kątem
                                pozycjonowania. Po zaakceptowaniu prze Ciebie projektu przystępuje do kodowania.
                            </p>
                        </div>
                    </div>
                    <div class="line-x lx-op lx-light"></div>
                    <div class="item-23 pt-small pb-xsmall fadeIn">
                        <div class="accordion">
                            <div class="h4 title color-heading">Ile trwa wykonanie strony www?</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                             <p class="color-text">
                                Wykonanie podstawowej strony od projektu do opublikowania zajmuje 1 - 2 tygodnie. Bardziej zaawansowane projekty zajmują
                                1 - 3 miesiące.
                            </p>
                        </div>
                    </div>
                    <div class="line-x lx-op lx-light"></div>
                    <div class="item-24 pt-small pb-xsmall fadeIn">
                        <div class="accordion">
                            <div class="h4 title color-heading">Czy strona będzie responsywna?</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                             <p class="color-text">
                                W dzisiejszych czasach ok 65% ruchu na stronach pochodzi z urządzeń mobilnych. Podczas kodowania stosuje zasadę mobile
                                first, Twoja strona będzie dopasowana do każdego urządzenia na którym zostanie wyświetlona
                            </p>
                        </div>
                    </div>
                    <div class="line-x lx-op lx-light"></div>
                    <div class="item-25 pt-small pb-xsmall fadeIn">
                        <div class="accordion">
                            <div class="h4 title color-heading">Czy można samemu edytować stronę?</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                             <p class="color-text">
                                Tak. Strony wyposażam w wygodny i intuicyjny panel zarządzania, który umożliwia łatwe dodawanie zdjęć, treści oraz
                                dowolnych aktualności na stronie internetowej. Mogę go również dostosować pod indywidualne wymagania.
                            </p>
                        </div>
                    </div>
                    <div class="line-x lx-op lx-light"></div>
                    <div class="item-26 pt-small pb-xsmall fadeIn">
                        <div class="accordion">
                            <div class="h4 title color-heading">Czy strona będzie widoczna w Google?</div>
                            <div class="icon"></div>
                        </div>
                        <div class="panel col-md-11">
                             <p class="color-text">
                                Każda tworzona przeze mnie strona jest optymalizowana pod kątem przyszłego pozycjonowania. Kod źródłowy piszę tak aby
                                sprzyjał osiągnięciu wysokich pozycji w wyszukiwarkach
                            </p>
                        </div>
                    </div>
                    <div class="line-x lx-op lx-light"></div>
                </div>
            </div>
        </div>
    </div>
</section>