<section class="hero-intro-header pt-xlarge pb-xsmall" data-scroll-section>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h1 class="xxl" data-splitting>
            Tworzę nowoczesne <br class="d-none d-md-block"/>strony internetowe <span class="dot">.</span>
          </h1>
        </div>
        <div class="col-lg-2 d-none d-lg-flex align-items-end pb-small fadeIn">
          <svg width="107" height="172" viewBox="0 0 127 192" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M63.5 1L63.5 191" stroke="var(--color-dark-1)" stroke-width="2" stroke-linecap="round"/>
            <path d="M126 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-width="2" stroke-linecap="round"/>
            <path d="M1 128.5L63.5 191" stroke="var(--color-dark-1)" stroke-width="2" stroke-linecap="round"/>
            </svg>            
        </div>
      </div>
    </div>
  </section>

  <section class="d-none d-md-block" data-scroll-section>
    <div class="line-x lx-2"></div>
  </section>
  
  <section class="hero-intro-footer" data-scroll-section>
    <div class="container">
      <div class="row">
    <div class="col-md-3 border-right fadeIn d-none d-md-block">
      <svg class="logo logo-hero" viewBox="0 0 563 271" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2687_2)">
        <rect x="111" width="16" height="271" fill="black"/>
        <rect x="168" width="13" height="271" fill="black"/>
        <rect x="136" width="6" height="271" fill="black"/>
        <rect x="150" width="9" height="271" fill="black"/>
        <rect width="9" height="271" transform="matrix(-1 0 0 1 212 0)" fill="black"/>
        <rect width="7" height="271" transform="matrix(-1 0 0 1 194 0)" fill="black"/>
        <rect width="17" height="271" fill="black"/>
        <rect x="55" width="13" height="271" fill="black"/>
        <rect x="23" width="9" height="271" fill="black"/>
        <rect x="39" width="8" height="271" fill="black"/>
        <rect width="9" height="271" transform="matrix(-1 0 0 1 103 0)" fill="black"/>
        <rect width="1" height="271" transform="matrix(-1 0 0 1 88 0)" fill="black"/>
        <rect width="4" height="271" transform="matrix(-1 0 0 1 80 0)" fill="black"/>
        <rect width="16" height="271" transform="matrix(-1 0 0 1 563 0)" fill="black"/>
        <rect width="12" height="271" transform="matrix(-1 0 0 1 504 0)" fill="black"/>
        <rect width="11" height="271" transform="matrix(-1 0 0 1 471 0)" fill="black"/>
        <rect width="8" height="271" transform="matrix(-1 0 0 1 539 0)" fill="black"/>
        <rect width="10" height="271" transform="matrix(-1 0 0 1 523 0)" fill="black"/>
        <rect x="445" width="8" height="271" fill="black"/>
        <rect x="478" width="6" height="271" fill="black"/>
        <rect x="323" width="11" height="271" fill="black"/>
        <rect x="368" width="6" height="271" fill="black"/>
        <rect x="403" width="6" height="271" fill="black"/>
        <rect x="342" width="5" height="271" fill="black"/>
        <rect x="355" width="5" height="271" fill="black"/>
        <rect x="220" width="10" height="271" fill="black"/>
        <rect x="259" width="8" height="271" fill="black"/>
        <rect x="237" width="1" height="271" fill="black"/>
        <rect x="245" width="6" height="271" fill="black"/>
        <rect width="14" height="271" transform="matrix(-1 0 0 1 396 0)" fill="black"/>
        <rect width="6" height="271" transform="matrix(-1 0 0 1 437 0)" fill="black"/>
        <rect width="9" height="271" transform="matrix(-1 0 0 1 424 0)" fill="black"/>
        <rect width="13" height="271" transform="matrix(-1 0 0 1 286 0)" fill="black"/>
        <rect width="6" height="271" transform="matrix(-1 0 0 1 314 0)" fill="black"/>
        <rect width="8" height="271" transform="matrix(-1 0 0 1 301 0)" fill="black"/>
        </g>
        <defs>
        <clipPath id="clip0_2687_2">
        <rect width="563" height="271" fill="white"/>
        </clipPath>
        </defs>
      </svg>
    </div>
    <div class="offset-md-1 col-md-7 fadeIn">
      <p class="mt-0">
        Jestem partnerem i doradcą biznesowym a nie kolejną agencją. Postaw na specjalistyczne wsparcie i skutecznie rozwijaj swój biznes. Do każdego zlecenia podchodzę z dużym zaangażowaniem oraz z dbałością o każdy szczegół.
      </p>
      <a href="/realizacje/" class="link-arrow" title="Realizacje">
        Zobacz realizacje
        <svg width="11" height="11" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13 1L1 13" stroke="var(--color-dark-1)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3 1H13V11" stroke="var(--color-dark-1)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>        
      </a>
    </div>
  </div>
  </div>
  </section>
  
  <section class="hero-parallax" data-scroll-section>
    <div class="hero-parallax-content" id="direction">
      <div class="parallax-item">
      <img src="/assets/img/hero/parallax-item-1.png" alt="" class=""
      data-scroll data-scroll-direction="horizontal" 
      data-scroll-speed="4" >
    </div>
    <div class="parallax-item">
      <img src="/assets/img/hero/parallax-item-2.png" alt="" class=""
      data-scroll data-scroll-direction="horizontal" 
      data-scroll-target="#direction"
      data-scroll-speed="-3" >
    </div>
    <div class="parallax-item">
      <img src="/assets/img/hero/parallax-item-3.png" alt="" class=""
      data-scroll data-scroll-direction="horizontal" 
      data-scroll-target="#direction"
      data-scroll-speed="3" >
    </div>
    <div class="parallax-item">
      <img src="/assets/img/hero/parallax-item-1.png" alt="" class=""
      data-scroll data-scroll-direction="horizontal" 
      data-scroll-target="#direction"
      data-scroll-speed="-3" >
    </div>
    <div class="parallax-item">
      <img src="/assets/img/hero/parallax-item-2.png" alt="" class=""
      data-scroll data-scroll-direction="horizontal" 
      data-scroll-target="#direction"
      data-scroll-speed="3" >
    </div>
    </div>
  </section>