<section class="pt-xlarge pb-xlarge bg-dark" data-scroll-section>
    <div class="container">
        <div class="row gx-0 pb-small fadeIn">
          <div class="col-md-1">
            <p class="mt-1 color-text">
              01
            </p>
          </div>
            <div class="col-md-4">
              <h3 class="mt-0 color-heading">
                Strony internetowe
              </h3>
            </div>
            <div class="offset-md-1 col-md-4">
              <p class="mt-0 color-text">Atrakcyjne wizualnie i zoptymalizowane technicznie strony www</p>
            </div>
            <div class="col-md-1 text-end">
              <span class="h2 color-text">+</span>
            </div>
        </div>

        <div class="row gx-0">
          <div class="offset-md-1 col-md-10">
            <div class="line-x lx-2"></div>
          </div>
        </div>

        <div class="row gx-0 pt-medium pb-small fadeIn">
          <div class="col-md-1">
            <p class="mt-1 color-text">
              02
            </p>
          </div>
            <div class="col-md-4">
              <h3 class="mt-0 color-heading">
                Sklepy internetowe
              </h3>
            </div>
            <div class="offset-md-1 col-md-4">
              <p class="mt-0 color-text">Atrakcyjne wizualnie i zoptymalizowane technicznie strony www</p>
            </div>
            <div class="col-md-1 text-end">
              <span class="h2 color-text">+</span>
            </div>
        </div>

        <div class="row gx-0">
          <div class="offset-md-1 col-md-10">
            <div class="line-x lx-2"></div>
          </div>
        </div>

        <div class="row gx-0 pt-medium pb-small fadeIn">
          <div class="col-md-1">
            <p class="mt-1 color-text">
              03
            </p>
          </div>
            <div class="col-md-4">
              <h3 class="mt-0 color-heading">
                Pozycjonowanie w Google
              </h3>
            </div>
            <div class="offset-md-1 col-md-4">
              <p class="mt-0 color-text">Atrakcyjne wizualnie i zoptymalizowane technicznie strony www</p>
            </div>
            <div class="col-md-1 text-end">
              <span class="h2 color-text">+</span>
            </div>
        </div>

        <div class="row gx-0">
          <div class="offset-md-1 col-md-10">
            <div class="line-x lx-2"></div>
          </div>
        </div>

    </div>
  </section>
