<section class="pt-small pt-md-large pb-medium pb-md-xlarge" style="background: #111" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
          <div class="offset-md-1 col-md-4 d-flex flex-wrap align-items-center">

            </div>
            <div class="offset-md-2 col-md-4">

            </div>
        </div>
    </div>
  </section>
  <section class="pt-small pt-md-large pb-medium pb-md-xlarge" style="background: #111" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
          <div class="offset-md-1 col-md-4 d-flex flex-wrap align-items-center">

            </div>
            <div class="offset-md-2 col-md-4">

            </div>
        </div>
    </div>
  </section>
  <section class="pt-small pt-md-large pb-medium pb-md-xlarge" style="background: #111" data-scroll-section>
    <div class="container">
        <div class="row gx-0">
          <div class="offset-md-1 col-md-4 d-flex flex-wrap align-items-center">

            </div>
            <div class="offset-md-2 col-md-4">

            </div>
        </div>
    </div>
  </section>