<section class="pt-large pb-xlarge bg-dark" data-scroll-section>
    <div class="big-text fadeIn">
        <div class="xxxl color-heading loop-text">
          <span>W</span>
          <span>czym</span>
          <span>mogę</span>
          <span>Ci</span>
          <span>pomóc</span>
          <span class="dot">.</span>
          <span>W</span>
          <span>czym</span>
          <span>mogę</span>
          <span>Ci</span>
          <span>pomóc</span>
          <span class="dot">.</span>
        </div>
    </div>
  <div class="container">
    <div class="row gx-0 pt-medium">
      <div class="offset-md-1 col-md-10">
        <div class="line-x lx-light"></div>
      </div>
    </div>

    <div class="service-item">
    <div class="row gx-0 pt-large pb-medium fadeIn">
      <div class="offset-md-1 col-md-1">
        <p class="service-number mt-1 color-text">01</p>
      </div>
      <div class="col-md-3">
        <h3 class="mt-0 color-heading">Strony internetowe</h3>
      </div>
      <div class="offset-md-1 col-md-4">
        <p class="mt-0 color-text">
          Atrakcyjne wizualnie i zoptymalizowane technicznie strony www. Skuteczne i intuicyjne dla użytkownika.
        </p>
      </div>
      <div class="col-md-1 text-md-end">
        <p class="service-arrow h2 my-0 color-text">+</p>
      </div>
    </div>
    </div>

    <div class="row gx-0">
      <div class="offset-md-1 col-md-10">
        <div class="line-x lx-op lx-light"></div>
      </div>
    </div>

    <div class="service-item">
    <div class="row gx-0 pt-large pb-medium fadeIn">
      <div class="offset-md-1 col-md-1">
        <p class="service-number mt-1 color-text">02</p>
      </div>
      <div class="col-md-3">
        <h3 class="mt-0 color-heading">Sklepy internetowe</h3>
      </div>
      <div class="offset-md-1 col-md-4">
        <p class="mt-0 color-text">
          Wyposażone w niezbędne narzędzia ułatwiające sprzedaż w internecie. Narzędzia analityczne, płatności online i zewnętrzne integracje.
        </p>
      </div>
      <div class="col-md-1 text-md-end">
        <p class="service-arrow h2 my-0 color-text">+</p>
      </div>
    </div>
    </div>

    <div class="row gx-0">
      <div class="offset-md-1 col-md-10">
        <div class="line-x lx-1 lx-op lx-light"></div>
      </div>
    </div>

    <div class="service-item">
    <div class="row gx-0 pt-large pb-medium fadeIn">
      <div class="offset-md-1 col-md-1">
        <p class="service-number mt-1 color-text">03</p>
      </div>
      <div class="col-md-3">
        <h3 class="mt-0 color-heading">Pozycjonowanie w Google</h3>
      </div>
      <div class="offset-md-1 col-md-4">
        <p class="mt-0 color-text">
          Analiza konkurencji i słów kluczowych. Pozyskiwanie linków zewnętrznych, planowanie treści i optymalizacja techniczna.
        </p>
      </div>
      <div class="col-md-1 text-md-end">
        <p class="service-arrow h2 my-0 color-text">+</p>
      </div>
    </div>
    </div>

    <div class="row gx-0">
      <div class="offset-md-1 col-md-10">
        <div class="line-x lx-1 lx-op lx-light"></div>
      </div>
    </div>
  </div>
</section>
